@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "https://fonts.googleapis.com/css?family=Fauna+One";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Golos+Text:wght@400..900&family=Major+Mono+Display&display=swap");

/*---------- Global Style ----------*/

body,
.docs-gm,
body.docs-gm {
  color: white;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #a51080;
}

html {
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  width: 85%;
  margin: 50px auto;
}

header > h1 {
  font-family: "Major Mono Display", monospace;
  font-weight: lighter;
  font-style: normal;
  font-size: 2.5rem;
}

header > h2,
header > h3 {
  margin-left: 0px;
}

iframe {
  border: 1px solid #a51080;
  border-radius: 8px;
}

.iframe-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.iframe-left {
  flex: 2;
  border-radius: 10px;
  min-width: 350px;
  margin: 0 auto;
}

.iframe-right {
  flex: 4;
  border-radius: 10px;
  min-width: 350px;
  margin: 0 auto;
  font-family: "Barlow", serif;
}

.ritz .waffle .s6 {
  font-family: "Barlow", serif !important;
}

#barlow,
td,
tr,
th,
.s0,
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8 {
  font-family: "Barlow", serif !important;
}
